@inherits LayoutComponentBase
@inject IJSRuntime js
@inject ThemeManagerService ThemeManager
@inject LanguageManagerService LanguageManager
@inject NavigationManager NavigationManager
@inject HttpClient Http

<MudThemeProvider Theme="ThemeManager.CurrentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <a href="/"><img class="" src="images/boulette-de-papier.png" width="120" style="padding-top:50px;" /></a>
        <a href="/"><MudText Typo="Typo.h5" Class="ml-3" Style="color:#eaeaea">@LanguageManager.CurrentLanguage.AppBar.Title</MudText></a>
        <MudSpacer />
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Language" Style="color:#eaeaea" Edge="Edge.End" OnClick="@((e) => LanguageManager.CycleToNextLanguage())">@LanguageManager.CurrentLanguageText</MudButton>
        <MudIconButton Class="mr-1" Icon="@ThemeManager.CurrentThemeIcon" Style="color:#eaeaea" Edge="Edge.End" OnClick="@((e) => ThemeManager.CycleToNextTheme())" />
        <a href="https://github.com/MaxThom/game-boulette-v2" target="_blank"><MudIconButton Icon="@Icons.Custom.Brands.GitHub" Style="color:#eaeaea" Edge="Edge.End" /></a>
    </MudAppBar>    
    <MudMainContent>
            @Body
    </MudMainContent>    
    <br />
    <br />
    <br />
    <MudText Align="Align.Center" Typo="Typo.subtitle2">@LanguageManager.CurrentLanguage.AppBar.Footer</MudText>
    <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="opacity:0.5;">@(version_commit.Length > 7 ? version_commit.Substring(0,7): version_commit)</MudText>
</MudLayout> 

@code {
    string version_commit = "";

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Old: {version_commit}");
        var new_version_commit = await Http.GetStringAsync("api/version");
        Console.WriteLine($"New: {new_version_commit}");
        if (!string.IsNullOrEmpty(version_commit) && new_version_commit != version_commit)
        {
            version_commit = new_version_commit;
            Console.WriteLine("Reloading page for newer version !");
            await js.InvokeVoidAsync("window.location.reload", "true");            
        }

    }
}

    