@using System.Text.Json.Nodes
@inherits LayoutComponentBase
@inject IJSRuntime js
@inject ThemeManagerService ThemeManager
@inject LanguageManagerService LanguageManager
@inject NavigationManager NavigationManager
@inject HttpClient Http

<MudThemeProvider Theme="ThemeManager.CurrentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <a href="/"><img class="" src="images/boulette-de-papier.png" width="120" style="padding-top:50px;" /></a>
        <a href="/"><MudText Typo="Typo.h5" Class="ml-3" Style="color:#eaeaea">@LanguageManager.CurrentLanguage.AppBar.Title</MudText></a>
        <MudSpacer />
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Language" Style="color:#eaeaea" Edge="Edge.End" OnClick="@((e) => LanguageManager.CycleToNextLanguage())">@LanguageManager.CurrentLanguageText</MudButton>
        <MudIconButton Class="mr-1" Icon="@ThemeManager.CurrentThemeIcon" Style="color:#eaeaea" Edge="Edge.End" OnClick="@((e) => ThemeManager.CycleToNextTheme())" />
        <a href="https://github.com/MaxThom/game-boulette-v2" target="_blank"><MudIconButton Icon="@Icons.Custom.Brands.GitHub" Style="color:#eaeaea" Edge="Edge.End" /></a>
    </MudAppBar>    
    <MudMainContent>
            @Body
    </MudMainContent>    
    <br />
    <br />
    <br />
    <MudText Align="Align.Center" Typo="Typo.subtitle2">@LanguageManager.CurrentLanguage.AppBar.Footer</MudText>
    <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="opacity:0.5;" id="version_commit">@version_commit</MudText>
</MudLayout> 

@code {
    string version_commit = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string old_version = await js.InvokeAsync<string>("getVersionCommit");
            var new_version = await Http.GetStringAsync("api/version");
            new_version = new_version.Substring(0, 7);
            version_commit = old_version;
            Console.WriteLine($"New {old_version}\nOld {new_version}");
            if (!string.IsNullOrEmpty(old_version) && new_version != old_version)
            {
                version_commit = new_version;
                Console.WriteLine("Reloading page for newer version !");
                await js.InvokeVoidAsync("setVersionCommit", new_version);
                await js.InvokeVoidAsync("window.location.reload", "true");
            }            
            
            StateHasChanged();
        }
    }
    
}

    